<html>
<head>
  <title>Griez's Page</title>
</head>
<body>
  <div>
    <h1><a href="">Django - DJ Ango [dije ango]</a></h1>
  </div>
  <div>
    <p>Published: 26 Mei 2016, 08:17</p>
    <p><h2><a href="">Judul postingan pertama ada disini</a></h2></p>
    <p>Ini isinya daripada postingan pertama, kalimatnya pendek, tidak panjang, padat, dan jelas. Jelas - jelas ngawur.</p>
  </div>
  <div>
    <p>Published: 26 Mei 2016, 08:17</p>
    <p><h2><a href="">Judul postingan kedua ada disini</a></h2></p>
    <p>Ini isinya daripada postingan kedua, kalimatnya pendek, tidak panjang, padat, dan jelas. Jelas - jelas makin ngawur.</p>
  </div>
</body>
</html>
